

body { 
    background-color: #99fdf0;    
}

.heading{
position: center;
}
/* Gallery */

.gallery {
    position: relative;
    width: 100%;
    max-width: 800px;
}
.gallery h1 {
    display: inline-block;
    font-size: 2.2em;
    padding: 10px;
    color: #333;
}
.gallery ol {
    list-style: none;
    width: inherit;
}
.gallery li {
    position: relative;
    width: inherit;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.gallery li:nth-child(1) {
    background-image: url(harryvsvold.jpg);   
}
.gallery li:nth-child(2) {
    background-image: url(hogwart.jpg);
}
.gallery li:nth-child(3) {
    background-image: url(harry.jpg);
}
.gallery li:nth-child(4) {
    background-image: url(sala.jpg);
}
.gallery li:nth-child(5) {
    background-image: url(run.jpg);  
}
.gallery a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 15px;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}
.info h3 {
    font-size: 2em;
}
.info p {
    font-size: 0.9em;
}


@media screen and (min-width: 420px) {
    .gallery li {
        height: 400px;
    }
}


@media screen and (min-width: 620px) {
    .gallery li {
        float: left;
        width: 50%;
    }
    .gallery li:first-child {
        width: 100%;
    }
}


@media screen and (min-width: 800px) {
    .gallery {
        margin: 50px auto 0;
    } 
    .gallery ol {
        height: 420px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    .gallery li {
        width: 25%;
        height: 50%;
        -webkit-transition: -webkit-transform 500ms ease;
        transition: -webkit-transform 500ms ease;
        transition: transform 500ms ease;
        transition: transform 500ms ease, -webkit-transform 500ms ease;
    }
    .gallery li:first-child {
        width: 50%;
        height: 100%;
    }
    .gallery li:first-child h3 {
        font-size: 1.8em;
    }
    .gallery li:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 5;
    }
    .gallery a {
        -webkit-transition: background-color 500ms ease;
        transition: background-color 500ms ease;
    }
    .gallery a:hover {
        background-color: rgba(0, 0, 0, 0);
    }
    .info h3 {
        font-size: 1.2em;
    }
}