body {
    overflow: hidden;
}

.btn:hover {
    background-color: blanchedalmond;
    color: #38312c;
}

.btn {
    width: 100%;
    height: 100%;
    background-color: #38312c;
    color: aliceblue;
}